<div class="well col-lg-8">

  <h1> <%= recipe.name %> </h1>
  <h3> Способ приготовления: </h3>
  <p>
    <%= simple_format recipe.instructions %>
  </p>
  <h3> Ингредиенты: </h3>
  <p>
    <ul class="list-group">
    <% if recipe.ingredients_list %>
      <% recipe.ingredients_list.each do |ingredient| %>
        <li class="list-group-item"><%= ingredient %> </li>
      <% end %>
    <% end %>
    </ul>
  </p>
  <h3> Тэги: </h3>
  <p>
    <%= raw recipe.tags.map { |tag| link_to tag.name, '/tags/' + tag.name }.join(", ") %>
  </p>
</div>
