<div class="container">
  <% @recipes.each do |recipe| %>
    <div class="row">
      <%= render partial: 'recipes/recipe', object: recipe %>
    </div>
  <% end %>
  <%= paginate @recipes, :theme => 'twitter-bootstrap-3' %>
</div>
