<script type="text/javascript">
  $(document).ready(new_recipe_page);
  $(document).on('page:change', new_recipe_page);
</script>
<div class="container">
  <div class="row vtop">
    <h3 class="text-center"> Insert your recipe </h3>
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <%= form_for @recipe do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'name-field form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :instructions %>
            <%= f.text_area :instructions, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :ingredients %>
            <%= f.text_area :ingredients_list, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :tag_names %>
            <%= f.text_field :tag_names, class: 'form-control', id: 'tagsinput'%>
            <div id="populartags" class="container">
              <% @popular_tags.each do |tag| %>
                <%= content_tag :span, tag.name, class: "populartag" %>
              <% end %>
            </div>
          </div>
          <%= f.submit 'Submit', class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
