<div class ="home_title container-fluid text-center ">
<h1>Welcome to Escumoire</h1>
<h3>Let's share some magic flavors, yo!</h3>
<%= link_to "Submit your recipe", new_recipe_path, class: "add_recipe_btn btn btn-primary btn-lg text-center" %>
</div>
