<script type="text/javascript">
  $(document).ready(tags_page);
  $(document).on('page:change', tags_page);
</script>
<div class="container">
  <div id="tagcloud">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, '/tags/' + tag.name, rel: ( (tag.count*100 / @sum) ).to_s %>
    <% end %>
  </div>
</div>
