/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery.tagsinput
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

textarea.form-control {
  height: 100%;
}

.navbar, .home_title {
  background: #3CA55C; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3CA55C , #B5AC49); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3CA55C , #B5AC49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover, &:focus {
    color: white;
    opacity: 0.75;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: black;
  }
}

// Home Page Styles
.home_title {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.add_recipe_btn {
  margin-top: 20px;
}

// New Recipe Page Style
.name-field {
  width: 40%
}

//Popular Tags Style
div#populartags {
  margin-top: 10px;
  margin-left: -15px;
}
span.populartag {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  // min-width: 30px;
}
