<!DOCTYPE html>
<html>
  <head>
    <title>Escumoire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-cutlery"></i>
            Escumoire
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_tag recipes_path, class: "navbar-form", method: "get", enforce_utf8: false do %>
                <div class="input-group">
                  <%= text_field_tag :query, params[:query], class: "form-control" %>
                  <div class="input-group-btn">
                    <%= button_tag(class: "btn btn-default", name: nil) do %>
                      <%= content_tag("i", nil, class: "fa fa-search") %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <!-- <form class="navbar-form" action='/recipes' method="get">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="query" id="query">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form> -->
            </li>
            <li><%= link_to "Recipes", recipes_path %> </li>
            <li><%= link_to "About", "https://www.youtube.com/watch?v=dQw4w9WgXcQ" %> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, class: "alert alert-#{type}" do %>
          <%= msg %>
          <button class="close" data-dismiss="alert">×</button>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
